<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ human.name }}</title>
    <link rel="stylesheet" href="../../media/css/dark.min.css"/>
    <script src="../../media/js/jquery.min.js"></script>
    <script src="../../media/js/bootstrap.min.js"></script>
</head>
<body>
<h1>{{ human.name }}</h1>
<table border="border">
    <tr>
        <th>
            Question
        </th>
        <th>
            Theme
        </th>
        <th>
            Tags
        </th>
        <th>
            Ordre
        </th>
        <th>
            Video
        </th>
    </tr>
    {% for q in questions %}
    <tr>
        <td>
            <a href="/admin/humans/question/{{ q.id }}">{{ q.name }}</a>
        </td>
        <td>
            {{ q.theme.name }}
        </td>
        <td>
            {% for t in q.tags.all %}
            {{ t.name }}
            {% endfor %}
        </td>
        <td>
            {{ q.order }}
        </td>
        <td>
            <a href="/media/{{ q.video.video }}">HD</a>
            <a href="/media/{{ q.video.video }}.medium.mp4">Medium</a>
            <a href="/media/{{ q.video.video }}.low.mp4">Low</a>
        </td>
    </tr>
    {% endfor %}
</table>
<h1>
    Classés par theme
</h1>
<table border>
    {% for theme,questions in themes.items %}
    <tr>
        <td>
            <a href="/admin/humans/theme/{{ theme.id }}">{{ theme.name }} Ordre: {{ theme.order }}</a>
        </td>
        <td>
            <ul>

                {% for q in questions %}
                <li>
                    <a href="/admin/humans/question/{{q.id}}">{{ q.name }}</a> Ordre: {{ q.order }}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>
<h1>
    Classés par Tags
</h1>
<table border>
    {% for theme,questions in tags.items %}
    <tr>
        <td>
            <a href="/admin/humans/tag/{{ theme.id }}">{{ theme.name }} Ordre: {{ theme.order }}</a>
        </td>
        <td>
            <ul>

                {% for q in questions %}
                <li>
                    <a href="/admin/humans/question/{{q.id}}">{{ q.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>
<h1>
Videos speciales
</h1>
<ul>
<li>
    Intro:
    <a href="/media/{{ human.introVideo.video }}">HD</a>
    <a href="/media/{{ human.introVideo.video }}.medium.mp4">Medium</a>
    <a href="/media/{{ human.introVideo.video }}.low.mp4">Low</a>
</li>
    <li>
    Long Silence:
    <a href="/media/{{ human.longSilence.video }}">HD</a>
    <a href="/media/{{ human.longSilence.video }}.medium.mp4">Medium</a>
    <a href="/media/{{ human.longSilence.video }}.low.mp4">Low</a>
</li>
    {% for i in human.waitingVideos.all %}
    <li>
        Attente #{{ i.id }}:
        <a href="/media/{{ i.video }}">HD</a>
        <a href="/media/{{ i.video }}.medium.mp4">Medium</a>
        <a href="/media/{{ i.video }}.low.mp4">Low</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>