<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ human.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../media/css/dark.min.css"/>
    <script src="../../media/js/jquery.min.js"></script>
    <script src="../../media/js/bootstrap.min.js"></script>
    <style>

   .vivideo {
    height : 90%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    }
.body,html {
height:100%
 background-color : black;
 }
.all {
height:100%;
width:100%;
}

 .form-control{
opacity: 0.4;
}
.panel-group {
opacity: 0.6;
}

video.loading {
  background: black url(../../media/load.gif) center center no-repeat;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.all, .navbar, .navbar-nav, .body, .navbar-default{
    background: black;
    }

.navbar-nav > li {
    display: inline-block;
    float:none;
    z-index:1000;
}
.dessus {
position:absolute;
    z-index:1000;
      top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  left: 50%;
  transform: translateX(-50%); /* tiré de la moitié de sa propre hauteur */
}

.tag-item , .tag-panel, .tag-body, .tag-group{
color: pink !important;
}

@font-face {
  font-family: "StanleyPoster" ;
  src: url('../../media/fonts/Stanley-Poster.woff');
}
.tag-item , a, #ddv, #text_vivi{
font-family: "StanleyPoster" !important;
}

.clVu, #ddv, #accordion{
color : grey !important;
}

.thth{
color: white !important;
line-height:2 !important;
}






    </style>

</head>
<body class="body" id="bbdd">
<div id="ddv">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="#" onclick="pauseAndLoad()">
                    <img src="../../media/pause.gif" style="height: 1em;"/>
                </a></li>
                <li>
                    <a href="#" onclick="fullscreen()">
                        <img src="../../media/full.gif" style="height: 1em;"/>
                    </a></li>


            </ul>
        </div>
    </nav>
    <div class="all" id="allid">

        <video class="cent vivideo" id="video1" autoload="autoload" poster="data:image/gif,AAAA">
            <source src="../../media/{{ human.introVideo.video }}" type="video/mp4">
        </video>


    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal fade" role="main">

        <!-- Modal content -->
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>


                <div class="panel-group" id="accordion">
                    {% for theme,questions in themes.items %}
                    <div class="">
                        <div class="">
                            <h3 class="panel-title thth">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{theme.id}}">
                                    {{ theme.name|upper }}
                                </a>
                            </h3>
                        </div>
                        <div id="collapse{{theme.id}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="ttlist-group">
                                    {% for q in questions %}
                                    <a role="button" class="ttlist-group-item"
                                       onclick="playVideo('{{q.video.video}}','{{q.name|escapejs}}','{{q.id}}')">
                                        <span id="item_{{q.id}}">
                                        {{ q.name }}
                                        </span>
                                    </a><br/>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


                <div class="row">

                    <div class="col-md-6">

                        <button class="btn btn-default" onclick="hasard()">Une vidéo au hasard</button>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-md-4">
                        <select class="form-control" onchange="chQuality()" id="sel1">
                            <option onclick="hdClick()" value="H">Qualité Haute Définition</option>
                            <option onclick="mediumClick()" value="M">Qualité Moyenne</option>
                            <option onclick="lowClick()" value="L">Qualité Basse</option>
                        </select>
                    </div>
                </div>
                <button type="button" onclick="lc()" class="btn btn-default" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>


    <div class="dessus">
        <h1>
            <span id="text_vivi">
            </span>
        </h1>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="mot_de_passe" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Veuillez entrer le mot de passe</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="password" class="form-control" id="pwd">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="verifier()">Vérifier</button>
                </div>
            </div>
        </div>
    </div>


    <script>
var lastPlayed="intro"

var myVideo = document.getElementById("video1");

{% if human.mot_de_passe %}
    $('#mot_de_passe').modal({
      backdrop: 'static',
      keyboard: false
    })

    $("#mot_de_passe").modal("show");
    locked=true
    $("#pwd").on('keyup', function (e) {
        if (e.keyCode == 13) {
            verifier()
        }
    });
{% else %}
    locked=false
     myVideo.play()
{% endif %}

function verifier(){
    var pp = document.getElementById("pwd");

    if (pp.value == '{{ human.mot_de_passe }}') {
      $("#mot_de_passe").modal("hide");
      locked=false
      myVideo.play()
    }
}

function fullscreen() {

    var elem = document.getElementById("ddv");
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) {
        elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) {
        elem.webkitRequestFullscreen();
    }
}


$('#video1').on('loadstart', function (event) {
    $(this).addClass('loading');
});
$('#video1').on('canplay', function (event) {
    $(this).removeClass('loading');
    $(this).attr('poster', '');
});

var quality=getCookie('quality');
if (quality==''){
    quality='H'
}
$("#sel1").val(quality);
var modal = document.getElementById('myModal');

// Get the button that opens the modal

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


var allidi = document.getElementById("allid");
function lc(){
   modal.style.display = "none";
   $("#myModal").modal("hide");
   if(myVideo.paused){
        myVideo.play()
    }
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    lc()
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (locked){
        return
    }
    if (event.target == modal) {
        modal.style.display = "none";
        if(myVideo.paused){
             myVideo.play()
         }
    }
}


function pauseAndLoad(){
     if(!myVideo.paused){
         myVideo.pause()
     }
      $("#myModal").modal();
}

allidi.onclick=function(){
    pauseAndLoad()
}

myVideo.onclick = function (){
    pauseAndLoad()
}

function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}


function chQuality(){
    quality=document.getElementById("sel1").options[document.getElementById("sel1").selectedIndex].value;
    setCookie("quality",quality,365)

}
function hdClick(){quality='H';}
function lowClick(){quality='L';}
function mediumClick(){quality='M';}

var listeH=[]
{% for vv in questions %}
listeH.push(Object.freeze({video:"../../media/{{vv.video.video}}",question:"{{vv.name|escapejs}}",id:"{{vv.id}}"}));
{% endfor %}

function removeId(id){
    listeH = listeH.filter(function(item) {
        return item.id !== id
    })
}

function hasard(){
    ob=listeH[Math.floor(Math.random()*listeH.length)]
    switch(quality){
        case 'H':
            document.getElementById('video1').setAttribute("src", ob.video )
            break;
        case 'M':
            document.getElementById('video1').setAttribute("src", ob.video+".medium.mp4" )
           break;
        case 'L':
            document.getElementById('video1').setAttribute("src", ob.video+".low.mp4" )
           break;
           }
    document.getElementById('video1').setAttribute("title", ob.question);
    document.getElementById('video1').load();
    document.getElementById('video1').play();
    setCookie("q"+ob.id,1,964)
    mr_and_remove(ob.id)

    modal.style.display = "none";
    $("#myModal").modal("hide");
    $('#text_vivi').text(ob.question);
    $('#text_vivi').show();
    setTimeout(function() {
    $('#text_vivi').fadeOut('slow');
    }, 1500);
    lastPlayed="hasard"
}

myVideo.onended=function(){
liste=[]
{% for vv in human.waitingVideos.all %}
    switch(quality){
        case 'H':
            liste.push("../../media/{{vv.video}}");
            break;
        case 'M':
            liste.push("../../media/{{vv.video}}.medium.mp4");
            break;
        case 'L':
            liste.push("../../media/{{vv.video}}.low.mp4");
            break;
        }
{% endfor %}
if (lastPlayed != "long"){
    switch(quality){
        case 'H':
            v="../../media/{{human.longSilence.video}}";
            break;
        case 'M':
            v="../../media/{{human.longSilence.video}}.medium.mp4";
            break;
        case 'L':
            v="../../media/{{human.longSilence.video}}.low.mp4";
            break;
        }
        document.getElementById('video1').setAttribute("src", v);
        lastPlayed="long";
}else{
document.getElementById('video1').setAttribute("src", liste[Math.floor(Math.random()*liste.length)]);
lastPlayed="wait";
}
document.getElementById('video1').load();
document.getElementById('video1').oncanplay = function() {
document.getElementById('video1').play();
};
}

function mr_and_remove(id){
    removeId(id);
    idItem="item_"+id
    elVu = document.getElementById(idItem);
    elVu.classList.add("clVu");
    elVu2 = document.getElementById(idItem+"_tag");
    if (elVu2 != null){
        elVu2.classList.add("list-group-item-info");
    }
}

{% for q in questions %}
co=getCookie("q"+{{q.id}})
if(co != ""){
mr_and_remove("{{q.id}}")
}

{% endfor %}

function playVideo(source,text,idItem){
    if (text == undefined) {
        text=''
    }
    setCookie("q"+idItem,1,964)
    mr_and_remove(idItem)

    switch(quality){
        case 'H':
            document.getElementById('video1').setAttribute("src", "../../media/"+source);
            break;
        case 'M':
            document.getElementById('video1').setAttribute("src", "../../media/"+source+".medium.mp4");
            break;
        case 'L':
            document.getElementById('video1').setAttribute("src", "../../media/"+source+".low.mp4");
            break;
    }
    document.getElementById('video1').setAttribute("title", text);
    document.getElementById('video1').load();
    document.getElementById('video1').oncanplay = function() {
    document.getElementById('video1').play();
    lastPlayed="click"
    };
    modal.style.display = "none";
    $("#myModal").modal("hide");
    $('#text_vivi').text(text);
    $('#text_vivi').show();
    setTimeout(function() {
        $('#text_vivi').fadeOut('slow');
    }, 1500);
}








    </script>

</div>
</body>
</html>