<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Humans</title>
    <link rel="stylesheet" href="../../media/css/dark.min.css"/>
    <script src="../../media/js/jquery.min.js"></script>
    <script src="../../media/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Liste des personnes</h1>
<ul>
    {% for human in humans %}
    <li>
        <h2> <a href="{{human.name}}/index.html">{{human.name}}</a> <small><a href="{{human.name}}/2048.html">Version 2048</a></small></h2>

    </li>
    {% endfor %}


</ul>
<h1>

<a href="/admin">Admin</a>
</h1>
</body>
</html>